// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-gray-light-1: #f9f7f6;
$color-gray-light-2: #aaa;

$color-gray-dark-1: #54483a;
$color-gray-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: (10/16 * 100%);
}

body {
  font-family: $font-primary;
  color: $color-gray-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  /**
  * min-content behaves like auto (there is also max-content)
  */
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  /**
  * 8rem for sidebar
  * 1fr ... 1fr to center the columns in the middle as fr expands
  * we can't use margin 0 auto because of sidebar
  * we use minmax on 1fr so that they shrink up to a point
  * fr units also shrink first & can be used for wider than 8-col sections
  * between this is a responsive 8 column grid
  */
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  // temp
  & > * {
    font-size: 3rem;
    padding: 40px;
  }
}
