// +-+-+-+-+-+-+
// Box Shadows +
// +-+-+-+-+-+-+

@mixin box-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

@mixin box-shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@mixin box-shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@mixin box-shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@mixin box-shadow-xxl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

@mixin box-shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

@mixin box-shadow-outline($outline-color) {
  box-shadow: 0 0 0 3px $outline-color;
}

// +-+-+-+-+-+-+
// Typography  +
// +-+-+-+-+-+-+

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// +-+-+-+-+-+-+-+-+
// Fixes / Tweaks  +
// +-+-+-+-+-+-+-+-+

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// +-+-+-+-+-+-+-+
// Media Queries +
// +-+-+-+-+-+-+-+

// //
// Responsiveness tweak order
// 1. Base + Typography
// 2. General Layout + Grid
// 3. Page Layout
// 4. Components
// 5. Additional / Custom Media Queries

$media-query-breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
) !default;

// //
// Mobile-First Media Queries

@mixin respond($breakpoint) {
  @if $breakpoint == "xs" {
    @media only screen and (min-width: map-get($media-query-breakpoints , "xs" )) {
      @content;
    }
  }

  @if $breakpoint == "sm" {
    @media only screen and (min-width: map-get($media-query-breakpoints , "sm" )) {
      @content;
    }
  }

  @if $breakpoint == "md" {
    @media only screen and (min-width: map-get($media-query-breakpoints , "md" )) {
      @content;
    }
  }

  @if $breakpoint == "lg" {
    @media only screen and (min-width: map-get($media-query-breakpoints , "lg" )) {
      @content;
    }
  }

  @if $breakpoint == "xl" {
    @media only screen and (min-width: map-get($media-query-breakpoints , "xl" )) {
      @content;
    }
  }
}

// //
// Sample media query usage
//
// p::after {
//   @include respond("xs") {
//     content: "media-x-small";
//   }
//   @include respond("sm") {
//     content: "media-small";
//   }
//   @include respond("md") {
//     content: "media-medium";
//   }
//   @include respond("lg") {
//     content: "media-large";
//   }
//   @include respond("xl") {
//     content: "media-x-large";
//   }
// }
